.editThemeSong{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input {
    background: linear-gradient(to bottom, rgb(255,255,255,1), rgb(223, 223, 223));
    border: 0px;
    border-radius: 4px / 8px;
    height: 30px;
    width: 400px;
    display: flex;
    text-align: center;
    margin-bottom: 15px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#searchButton{
    max-height: 30px;
}

.trackListThemeSong{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
    align-items: center;
}

#submitThemeSong{
    margin-top: 30px;
    width: 60%;
}