.MessageList {
    width: 30%;
    display: flex;
    background-color: rgb(241, 241, 241);
    flex-direction: column;
    justify-content: start;
    text-align: start;
    padding: 25px;
}


.label {
    margin-bottom: .5em;
}