.editProfileNav {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    justify-content: flex-start;
    border-top-left-radius: 10px 12px;
    border-bottom-left-radius: 10px 12px;
}

.editProfile{
    display: flex;
    height: 89%;
    margin: 0 20px 20px 20px;
    border-radius: 10px/12px;
}

.editProfileSetting {
    display: flex;
    height: 100%;
    margin: 20px;
    width: 80%;
}

