.editProfileNav {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    justify-content: flex-start;
    border-top-left-radius: 10px 12px;
    border-bottom-left-radius: 10px 12px;
}

.editProfile{
    display: flex;
    height: 89%;
    margin: 0 20px 20px 20px;
    border-radius: 10px/12px;
}

.editProfileSetting {
    display: flex;
    height: 100%;
    margin: 20px;
    width: 80%;
}

.button {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px/6px;
    background: linear-gradient(to left bottom, #ff1778 45%, #ebb617);
}

.button{
    border-width: 0;
    border-color:white;
}

.button:hover {
    cursor: pointer;
}