.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right top, #FF2D86 30%, #FFC211 90%);
  color: #372470;
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.glass{
  background: linear-gradient(to right bottom, rgb(255,255,255,.8), rgb(255,255,255,.4));
  backdrop-filter: blur(2rem);
}

.dashboard{
  display:flex;
  height: 92%;
  padding-bottom: 20px;
  padding-right: 20px;
}

.flexCenterColumn {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.button {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  border-radius: 5px/6px;
  background: linear-gradient(to left bottom, #ff1778 45%, #ebb617);
}

.button{
  border-width: 0;
  border-color:white;
}

.button:hover {
  cursor: pointer;
}