.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right top, #FF2D86 30%, #FFC211 90%);
  color: #372470;
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.glass{
  background: linear-gradient(to right bottom, rgb(255,255,255,.8), rgb(255,255,255,.4));
  backdrop-filter: blur(2rem);
}

.dashboard{
  display:flex;
  height: 92%;
  padding-bottom: 20px;
  padding-right: 20px;
}

.flexCenterColumn {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.button {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  border-radius: 5px/6px;
  background: linear-gradient(to left bottom, #ff1778 45%, #ebb617);
}

.button{
  border-width: 0;
  border-color:white;
}

.button:hover {
  cursor: pointer;
}

/*animations*/


/*loading*/
.loading-gradient {
  background: repeating-linear-gradient(90deg,#dbdbdb,#dbdbdb,#dbdbdb,rgb(235, 235, 235) ,  #dbdbdb,#dbdbdb,#dbdbdb);
  background-size: 200% 200%;
  color: transparent;

  -webkit-animation: GreyGradient 2s ease infinite;
  -moz-animation: GreyGradient 2s ease infinite;
  animation: GreyGradient 2s ease infinite;
}

@-webkit-keyframes GreyGradient {
  0%{background-position:0% 50%}
  50%{background-position:50% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GreyGradient {
  0%{background-position:0% 50%}
  50%{background-position:50% 50%}
  100%{background-position:0% 50%}
}
@keyframes GreyGradient {
  0%{background-position:0% 50%}
  50%{background-position:50% 50%}
  100%{background-position:0% 50%}
}

/*swipe in*/
.swipe-from-left{
  /*transform: translateX(-100%);*/
}

.fade-out{
  opacity: 0;
}

.fade-in{
  opacity: 1;
}