.my-message{
    background-color: rgb(255, 0, 128);
    color: white;
    margin-left: auto;
}

.love.wav-message{
    background-color: rgb(247, 0, 255);
}

.their-message{
    background-color: rgb(255, 255, 255);
    margin-right: auto;
}

.message{
    border-radius: 10px / 8px;
    padding: 4px;
}

.messageContainer {
    display: flex;
}